<section id="app-footer">
 <div class="row">
   <div class="small-12 large-4 columns">
     <p>Sex in PDX was created to with the goal of celebrating the sex-positive culture of Portland, Oregon.</p>
   </div>
   <div class="small-12 large-4 columns">
     <p>Follow us on twitter! @sexinpdx</p>
   </div>
   <div class="small-12 large-4 columns">
     SOMETHING ELSE HERE
   </div>
 </div>
 <div class="row" id="copyright">
   <p>Sex in PDX copyright 2014, Kathryn Hough</p>
 </div>
</section>
