<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li class="unavailable"><a href="#">Tag Search</a></li>
  <li class="unavailable"><a href="#">All Results</a></li>
  <li class="current"><a href="#"><%= @place.name %></a></li>
</ul>
ALL THE INFO ABOUT THE PLACE!